
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding:  20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}



/*noticias*/
.titulo h2 {
    text-align: center

}
.active {
    background-color: #4CAF50;
}



#links{
    
      
    position:relative;
    margin:auto;
}
.info{
    padding: 2.5%;
    width:28%;
    height:auto;
    position:relative;
    display:inline-block;
    vertical-align:top;
    overflow:hidden;
}
.imagen, .texto{
    width:100%;
    height:auto;
    position:relative;
    display:inline;
}
.texto{
    height:auto;
    text-align:center
    }



  